body {
	background: url('/main/img/backdrop.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mainMenu {
	position: absolute;
	right: 80px;
	top: 50px;
	width: 300px;
	background-color: #37322E;
	color: white;
	text-align: center;
	padding: 20px 20px 30px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mainMenu p {
	margin: 0 0 10px 0;
}

input {
	width: 80%;
	font-size: 17px;
    border: none;
    border-bottom: 1px solid #775B27;
    background-color: #37322E;
    font-family: 'Architects Daughter', cursive;
    color: white;
    margin-bottom: 20px;
    
    -webkit-transition: border-bottom 0.2s ease-in-out;
    transition: border-bottom 0.2s ease-in-out;
}

input:focus {
	outline: none;
	border-bottom: 1px solid #F5AE2A;
}

input[type=submit] {
	cursor: pointer;
	border: 1px solid #775B27;
    width: 35%;
    float: left;
    margin-left: 10%;
    background-color: #443E39;
    font-variant: small-caps;
    font-size: 15px;
    padding: 5px 0;
    margin-top: 20px;
    
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

input[type=submit]:hover {
	 border: 1px solid #F5AE2A;
}

#mainMenu .menuButtons {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

#mainMenu .menuButtons input[type=submit] {
	margin: 0;
	margin-bottom: 10px;
	float: none;
	width: 50%;
}

#information {
	width: 100%;
	position: absolute;
	top: 100%;
	background-color: #37322E;
	color: white;
	padding: 30px;
	box-sizing: border-box;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-top: 30px;
}

hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}