<link rel="stylesheet" href="client/lobby/style/hostScreen.css">

<div id="blurredBack">
	<div id="host">
		<div id="settings">
			Here will come all the settings for the game.
		</div>
		<table id="playerBox">
			<tr>
				<th>Player</th>
				<th>Option</th>
				<th>Team</th>
			</tr>
			<tr>
				<td>Dinky</td>
				<td>option (ex. Dutch)</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Superkuuk</td>
				<td>option (ex. Dutch)</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Poppie</td>
				<td>option (ex. Dutch)</td>
				<td>2</td>
			</tr>
		</table>
		<div id="chatList"></div>
		<input id="chatBox" type="text" placeholder="chat">
		<div id="buttons">
			<form action="/start"><input type='submit' value='start' disabled></form>
			<form action="/lobby"><input type='submit' value='back'></form>
		</div>
	</div>
</div>