<span style="font-family: 'Quattrocento', serif;">Legio I</span> is a real time strategy game made by Rutger Frieswijk and Karstjan Kalma.<br>
This is a project to develop a new game.<br><br>
Settled in the middle ages, where knights rule and princesses are for no use, there is a need for a new king. You'll be playing as the ruler of a country
and lead the country to world domination! Forge alliances, train troops, build an economy and research new technologies. This game has everything.
<br><br>
See the gitHub page for information about this project: <a href="https://github.com/Superkuuk/RTS">https://github.com/Superkuuk/RTS</a>