<span style="font-family: 'Quattrocento', serif;">Legio I</span> is a real time strategy game made by Rutger Frieswijk.<br>
The purpose of this game is to learn javascript in a fun and challenging way.<br>
<br>
See the gitHub page for information about this project: <a href="https://github.com/Superkuuk/RTS">https://github.com/Superkuuk/RTS</a>