<form id='loginForm' action="/login" method="post">		
	<p>Login:</p>
	<input type='text' placeholder='name' name='username'>
	<input type='password' placeholder='password' name='password'>
	<input type='submit' value='login'>		
</form>
<form id='registerButton' action="/register" method="get"><input type='submit' value='new player'></form>

<script>
	if($('.errorField').html() == ''){
		$('.errorField').hide();
	}
</script>