<!DOCTYPE html>
<html>
	<head>
		<title>Legio I - New Game</title>
		
		<link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700|Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="client/gamelobby/gamelobby.css">
	</head>

	<body>
		<span>{{description}}</span>
		<div id="host">
			<div id="settings">
				Here will come all the settings for the game.
			</div>
			<table id="playerBox">
				<tr><th>Player</th><th>Option</th><th>Team</th></tr>
			</table>
			<div id="chatList"></div>
			<input id="chatBox" type="text" placeholder="chat">
			<div id="buttons">
				<form action="/start"><input type='submit' value='start' disabled></form>
				<form action="/lobby" method="post" id='leave_game_lobby'><input name="gid" type="hidden" value="{{gid}}" readonly><input type='submit' value='back'></form>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="client/gamelobby/gamelobby.js"></script>
	</body>
</html>