<!DOCTYPE html>
<html>
	<head>
		<title>Legio I - Lobby</title>
		
		<link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700|Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="client/global/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="client/lobby/lobby.js"></script>
	</head>

	<body>
		<div id="bg"></div>		
		<div id="arrow"></div>
		<div id='hostList'>
			{{#ifCond screen "==" "host"}}
				{{> startHost}}
			{{else}}
				List of available games
				<table id="tbl"></table>			
			{{/ifCond}}
		</div>
		
		<div id='mainMenu'>
			<h1>Legio I</h1>
			<hr>
				<p>Lobby</p>
				<div class='menuButtons'>
					<form action="/host"><input type='submit' value='host'></form>
					<form action="/join" method="post"><input type='submit' value='join' disabled></form>
					<form action="/"><input type='submit' value='back'></form>
				</div>
		</div>
		<div id="information">
			{{> information}}
		</div>
	</body>
</html>