<!DOCTYPE html>
<html>
	<head>
		<title> Realtime multiplayer strategy game</title>
		
		<link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700|Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="style/global.css">
		
		<script src="main/javascript/main.js"></script>
		<link rel="stylesheet" href="main/style/main.css">
	</head>

	<body>
<!-- 	Music can be a bit better! Use the Soundcloud JS widget. Random shuffle a playlist. -->
<!-- 
		<iframe width="80px" height="80px" style="opacity:0.8;position:fixed;bottom:0;" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2747493&amp;auto_play=true&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
 -->
		<div id='mainMenu'>
			<h1>Legio I</h1>
			<hr>
			{{#if loggedIn}}
				<p>Welcome {{user.username}}!</p>
				<div class='menuButtons'>
					<form action="/host" method="post"><input type='submit' value='host game'></form>
					<form action="/join" method="post"><input type='submit' value='join game'></form>
					<form action="/profile" method="post"><input type='submit' value='profile'></form>
					<form action="/logout" method="post"><input type='submit' value='log out'></form>
				</div>
			{{else}}
				<form action="/login" method="post">		
					<p>Login:</p>
					<input type='text' placeholder='name' name='username'>
					<input type='password' placeholder='password' name='password'>
					<input type='submit' value='login'>		
				</form>
				<input type='submit' value='new player' onclick="toggleNewPlayer()">
			{{/if}}
		</div>
		
		<div id="information">
			{{> information}}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	</body>
</html>